<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title></title>
	<!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

	<style>
		html {
			font-family: Arial
		}

		table.table-style, table.table-style th {
			width: 100%;
			height: auto;
			border-collapse: collapse;
			/*border-spacing: 0;*/
		}

			table.table-style, table.table-style td, table.table-style th {
				border: 2px solid black;
			}

				table.table-style td, table.table-style th {
					padding: 3px;
					width: 30px;
					height: 30px;
				}

				table.table-style th {
					font-weight: bold;
					text-align: center
				}

		.column-bold td:nth-child(2n+1) {
			font-weight: bold
		}

		.column-3plus-text-right td:nth-child(n+3) {
			text-align: right
		}

		.line {
			height: 1.5px;
			border-width: 0;
			background-color: black
		}

		.line-bold {
			height: 2.5px;
			border-width: 0;
			background-color: black
		}

		/*.footer {*/
			/*Can be removed*/
			/*position: fixed;
			bottom: 0;*/
			/*For alignment*/
			/*font-size: 0.8em;
			padding: 20px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}*/
	</style>
</head>
<body>

	<!--TODO Make a header with image-->
	<strong>КАЛЬКУЛЯЦИЯ СТОИМОСТИ РАБОТ</strong>
	<p>134 ОТ 01.08.2020 Г.</p>

	<table class="table-style column-bold">
		<tr>
			<td>ЗАКАЗЧИК:</td>
			<td>ВОЛКОВА АЛЛА СЕРГЕЕВНА</td>
			<td>ИСПОЛНИТЕЛЬ:</td>
			<td>ООО ГРАД-ЭКСПЕРТ</td>
		</tr>
		<tr>
			<td>АДРЕС</td>
			<td>Г. САНКТ-ПЕТЕРБУРГ, ПР-КТ КОСЫГИНА 15, КВ. 151</td>
			<td>ИНН</td>
			<td>6671095072</td>
		</tr>
		<tr>
			<td>ТЕЛЕФОН</td>
			<td>890567899999</td>
			<td>ОГРН</td>
			<td>119665802806</td>
		</tr>
		<tr>
			<td>E-MAIL</td>
			<td>VOLKOVAALLA@MAIL.RU</td>
			<td>АДРЕС</td>
			<td>620016 СВЕРДЛОВСКАЯ ОБЛАСТЬ, Г. ЕКАТЕРИНБУРГ, УЛ. МОСТОВАЯ 14</td>
		</tr>
		<tr>
			<td rowspan="4" colspan="2"></td>
			<td hidden></td>
			<td>БАНК</td>
			<td>ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ" Г. МОСКВА</td>
		</tr>
		<tr>
			<td>БИК</td>
			<td>044525999</td>
		</tr>
		<tr>
			<td>КОРР. СЧЕТ</td>
			<td>30101810845250000999</td>
		</tr>
		<tr>
			<td>РАСЧЕТНЫЙ СЧЕТ</td>
			<td>40702810702500038918</td>
		</tr>
	</table>

	<br />
	<br />

	<table class="table-style column-bold">
		<tr>
			<td>ТИП ПОВРЕЖДЕНИЯ</td>
			<td>ГРАД</td>
			<td>МАРКА</td>
			<td>HYUNDAI</td>
		</tr>
		<tr>
			<td>ДАТА ОСМОТРА</td>
			<td>01.08.20</td>
			<td>МОДЕЛЬ</td>
			<td>SONATA</td>
		</tr>
		<tr>
			<td>МЕСТО ОСМОТРА</td>
			<td>
				САНКТ-ПЕТЕРБУРГ, ПУШКИНСКИЙ Р-Н, ПОС. СЛАВЯНКА, УЛ. СЕТЕВАЯ 13/7 Б
			</td>
			<td>ТИП КУЗОВА</td>
			<td>СЕДАН</td>
		</tr>
		<tr>
			<td>СТРАХОВАЯ КОМПАНИЯ</td>
			<td>АО «ГРУППА РЕНЕССАНС СТРАХОВАНИЕ»</td>
			<td>ГОС. НОМЕР</td>
			<td>Е831ВМ 198</td>
		</tr>
		<tr>
			<td>НОМЕР ПОЛИСА</td>
			<td></td>
			<td>ПРОБЕГ</td>
			<td>22039 КМ</td>
		</tr>
		<tr>
			<td>НОМЕР УБЫТКА</td>
			<td>002AS20-011398</td>
			<td>ГОД ВЫПУСКА</td>
			<td>2019</td>
		</tr>
		<tr>
			<td>ОСМОТР ПРОИЗВЕЛ</td>
			<td>СТАНКОВСКИЙ А.С.</td>
			<td>ЦВЕТ</td>
			<td>БЕЛЫЙ</td>
		</tr>
	</table>

	<br />
	<br />

	<strong>ПРИЛОЖЕНИЕ: 10 ФОТО</strong>

	<br />
	<br />

	<table class="table-style column-3plus-text-right">
		<tr>
			<td colspan="3">РАБОТЫ ПО ДЕ-/МОНТАЖУ</td>
		</tr>
		<tr>
			<td>№ ПОЗИЦИИ</td>
			<td>ОПИСАНИЕ РАБОТ</td>
			<td>СТОИМОСТЬ, РУБ</td>
		</tr>
		<tr>
			<td>111</td>
			<td>ДЕ-/МОНТАЖ ОБШИВКИ КРЫШИ</td>
			<td>2000,00</td>
		</tr>
		<tr>
			<td>118</td>
			<td>ДЕ-/МОНТАЖ АНТЕННЫ</td>
			<td>200,00</td>
		</tr>
		<tr>
			<td>122</td>
			<td>ДЕ-/МОНТАЖ ИЗОЛЯЦИИ КАПОТА</td>
			<td>200,00</td>
		</tr>
	</table>

	<br />
	<br />

	<table class="table-style column-3plus-text-right">
		<tr>
			<td colspan="7">БЕСПОКРАСОЧНОЕ УДАЛЕНИЕ ВМЯТИН ПО СИСТЕМЕ ГРАД-ЭКСПЕРТ</td>
		</tr>
		<tr>
			<td>№ ПОЗИЦИИ</td>
			<td>ДЕТАЛЬ</td>
			<td>КОЛ-ВО</td>
			<td>ДУ, ММ</td>
			<td>МЕТАЛЛ</td>
			<td>ВИД РЕМОНТА</td>
			<td>СТОИМОСТЬ, РУБ</td>
		</tr>
		<tr>
			<td>1</td>
			<td>КАПОТ</td>
			<td>25</td>
			<td>30 MM</td>
			<td>СТАЛЬ</td>
			<td>БЕЗ ПОКРАСКИ</td>
			<td>12000,00</td>
		</tr>
		<tr>
			<td>1</td>
			<td>КАПОТ</td>
			<td>25</td>
			<td>30 MM</td>
			<td>СТАЛЬ</td>
			<td>БЕЗ ПОКРАСКИ</td>
			<td>12000,00</td>
		</tr>
	</table>

	<br />
	<br />

	<table class="table-style column-3plus-text-right">
		<tr>
			<td>№ ПОЗИЦИИ</td>
			<td>ДОПОЛНИТЕЛЬНЫЕ РАБОТЫ/УСЛУГИ</td>
			<td>СТОИМОСТЬ, РУБ</td>
		</tr>
		<tr>
			<td>345</td>
			<td>ПОДГОТОВКА ИНСТРУМЕНТА </td>
			<td>600,00</td>
		</tr>
		<tr>
			<td>400</td>
			<td>АНТИКОРОЗЗИОННАЯ ОРАБОТКА</td>
			<td>400,00</td>
		</tr>
		<tr>
			<td>410</td>
			<td>ФИНИШНАЯ ОБРАБОТКА</td>
			<td>1300,00</td>
		</tr>
	</table>

	<br />
	<br />

	<table class="table-style column-3plus-text-right">
		<tr>
			<td colspan="3">ИТОГОВАЯ КАЛЬКУЛЯЦИЯ</td>
		</tr>
		<tr>
			<td>№</td>
			<td>ОПИСАНИЕ</td>
			<td>СТОИМОСТЬ, РУБ</td>
		</tr>
		<tr>
			<td>1</td>
			<td>ДЕ-/МОНТАЖ</td>
			<td>4100,00</td>
		</tr>
		<tr>
			<td>2</td>
			<td>БЕСПОКРАСОЧНОЕ УДАЛЕНИЕ ВМЯТИН ПО СИСТЕМЕ ГРАД-ЭКСПЕРТ</td>
			<td>116400,00</td>
		</tr>
		<tr>
			<td>3</td>
			<td>ДОПОЛНИТЕЛЬНЫЕ РАБОТЫ/УСЛУГИ</td>
			<td>2300,00</td>
		</tr>
		<tr style="text-align: right; font-weight: bold;">
			<td colspan="2" style="border-color: white">ИТОГО:</td>
			<td style="border: 3.5px solid black">122800,00</td>
		</tr>
		<tr>
			<td colspan="3" style="border-color: white; text-align: right">НДС НЕ ПРЕДУСМОТРЕН</td>
		</tr>
	</table>

	<br />
	<br />

	<p>
		УКАЗАННАЯ СТОИМОСТЬ РЕМОНТА ЯВЛЯЕТСЯ ОРИЕНТИРОВОЧНОЙ. ПРИ РАЗБОРКЕ Т/С, А ТАКЖЕ ПРИ ПРОВЕДЕНИИ РЕМОНТА ВОЗМОЖНО ОБНАРУЖЕНИЕ
		ДЕФЕКТОВ И НЕИСПРАВНОСТЕЙ, НЕ ЗАМЕЧЕННЫХ ИЛИ НЕ ВЫЯВЛЕННЫХ ПРИ ПЕРВИЧНОМ ОСМОТРЕ. ОКОНЧАТЕЛЬНАЯ СТОИМОСТЬ РЕМОНТА УКАЗЫВАЕТСЯ В
		АКТЕ ВЫПОЛНЕННЫХ РАБОТ ПОСЛЕ ЗАВЕРШЕНИЯ РЕМОНТА.
	</p>

	<p style="page-break-before: always" />

	<p>ФОТО 1</p>
	<img src="https://i.pinimg.com/originals/86/ff/b8/86ffb87572d657f335cd7cd828c70de3.jpg" width="800" />

	<!--TODO make a footer and header-->
	<!--<table class="footer">
		<tr>
			<td></td>
			<td style="text-align: center">ООО ГРАД-ЭКСПЕРТ 620016 Г.ЕКАТЕРИНБУРГ, УЛ. МОСТОВАЯ 14, INFO@GRAD-EXPERT.RU, ТЕЛ. (343) 268-58-18</td>
			<td style="text-align: right">СТР. 1 ИЗ 2</td>
		</tr>
	</table>-->

</body>
</html>